.listings-skeleton {
	padding: 30px;
}

.listings-skeleton .ant-skeleton-content .ant-divider-horizontal + .ant-skeleton-paragraph {
	margin: 12px 0;
}

.listings-skeleton .ant-divider-horizontal {
	margin: 12px 0;
}
